<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component</title>
    <style lang="">
    </style>
</head>

<body>
    <div id="demo1">
        <com-a></com-a>
        <com-b></com-b>
        <com-c p-name="sam" p-age="24"></com-c>
        <com-d v-bind="person"></com-d>
        <input type="text" v-model="num">
        <com-e :num="num"></com-e>
        <com-f :num="num"></com-f>
        <com-g v-bind:p="p1"></com-g>
        <vv-aa></vv-aa>
        <vv-bb></vv-bb>
    </div>
    <div id="demo2">
        <zz-comp :prop-a="1" :prop-b="'abc'" :prop-c="'abc'" :prop-f="'success'"></zz-comp>
        <base-input v-model="username" class="username-input" placeholder="Enter your username"></base-input>
    </div>
    <div id="demo3">
        <my-event @myEvent="alert('myEvent')"></my-event>
        <zz-event @zz-event="alert('zz')"></zz-event>
        lovingVue is {{lovingVue}}
        <base-checkbox v-model="lovingVue"></base-checkbox>
    </div>
    <script src="../../lib/lodash/lodash.js"></script>
    <script src="../../lib/vue/vue.js"></script>
    <script>
        function Person(name, age) {
            this.name = name;
            this.age = age;
        }
        var person1 = new Person('sam', 26);
        console.info('person1 instanceof Person', person1 instanceof Person);
        Vue.component('com-a', {
            template: '<div>com-a</div>'
        });
        Vue.component('comB', {
            template: '<div>comB</div>'
        });
        Vue.component('com-c', {
            props: ['p-name', 'pAge'],
            template: '<div>[(<h4>{{pName}}</h4>)(<h5>{{pAge}}</h5>)]</div>'
        });
        Vue.component('comD', {
            props: ['name', 'age'],
            template: '<div>[(<h4>{{name}}</h4>)(<h5>{{age}}</h5>)]</div>'
        });
        Vue.component('com-e', {
            props: ['num'],
            data: function () {
                return {
                    num_: this.num
                };
            },
            template: '<div><input type="text" v-model="num_"></div>'
        });
        Vue.component('com-f', {
            props: ['num'],
            computed: {
                num_: function () {
                    return this.num;
                }
            },
            template: '<div><input type="text" v-model="num"></div>'
        });
        Vue.component('com-g', {
            props: {
                p: Person
            },
            template: '<div>{{p.name}}, {{p.age}}</div>'
        });
        var demo1 = new Vue({
            el: '#demo1',
            data: {
                p1: person1
            },
            components: {
                'vv-aa': {
                    template: '<div>vv-aa</div>'
                },
                'vv-bb': {
                    template: '<div>vv-bb</div>'
                },
            },
            data: {
                person: {
                    name: 'sam',
                    age: 26
                },
                num: 1
            },
            methods: {}
        });
        Vue.component('zz-comp', {
            props: {
                // 基础的类型检查 (`null` 匹配任何类型)
                propA: Number,
                // 多个可能的类型
                propB: [String, Number], //必填的字符串
                propC: {
                    type: String,
                    required: true
                },
                // 带有默认值的数字
                propD: {
                    type: Number,
                    default: 100
                },
                // 带有默认值的对象
                propE: {
                    type: Object,
                    // 对象或数组且一定会从一个工厂函数返回默认值
                    default: function () {
                        return {
                            message: 'hello'
                        }
                    }
                },
                // 自定义验证函数
                propF: {
                    validator: function (value) {
                        // 这个值必须匹配下列字符串中的一个
                        return ['success', 'warning', 'danger'].indexOf(value) !== -1;
                    }
                }
            },
            template: '<div>A:{{propA}},B:{{propB}},C:{{propC}},D:{{propD}},E:{{propE}},F:{{propF}}</div>'
        });
        Vue.component('base-input', {
            inheritAttrs: false,
            props: ['label', 'value'],
            template: `
<label>
    {{ label }}
    <input style="border: gray solid 1px;" v-bind="$attrs" v-bind:value="value" v-on:input="$emit('input', $event.target.value)">
</label>
`
        });
        var demo2 = new Vue({
            el: '#demo2',
            data: {
                num: 2,
                string: 'abc',
                user: {
                    label: 'name',
                    value: 'zz'
                },
                username: 'a'
            }
        });
        //custom event
        Vue.component('myEvent', {
            template: '<button v-on:click="emit">myEvent</button>',
            methods: {
                emit: function () {
                    this.$emit('myEvent');
                }
            }
        });
        Vue.component('zz-event', {
            template: '<button v-on:click="emit">zz-event</button>',
            methods: {
                emit: function () {
                    this.$emit('zz-event');
                }
            }
        });
        Vue.component('base-checkbox', {
            model: {
                prop: 'checked',
                event: 'change'
            },
            props: {
                checked: Boolean
            },
            template: `
                <input
                    type="checkbox"
                    v-bind:checked="checked"
                    v-on:change="$emit('change', $event.target.checked)"
                >
            `
        });
        var demo3 = new Vue({
            el: '#demo3',
            data: {
                lovingVue: true
            },
            methods: {
                alert: function (msg) {
                    console.info('alert', msg);
                }
            }
        });
    </script>
</body>

</html>